*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
}

header{
    grid-row: 1/ 2;
    grid-column: 1 / 3;
    background-color: gray;
    color: white;
    padding: 20px;
}

main{
    grid-row: 2 / auto;
    grid-column: 1/ 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}

.startContainer{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto;
    gap: 10px;
    width: 80%;
    height: 65%;
    background-color: gray;
    color: white;
    padding: 30px;
    justify-items: center;
}

.startForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
form label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pageText{
    justify-self: center;
    align-self: center;
    padding: 20px;
    background-color: gray;
    color: white;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}