*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.35fr 4fr 0.35fr ;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 4fr;
}