*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.35fr 4fr 0.35fr ;
}

header{
    background-color: #765827;
    color: white;
    padding: 10px;
}
nav{
    background-color: #EAC696;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 20px;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 4fr;
    gap: 10px;
    background-color: #F7FFE5;
    padding: 20px;
}

h1{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    margin: 20px;
}

.materiasContainer{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 20px;
    align-items: start;
    background-color: #C8AE7D;
    padding: 20px;
}

.addMateria{
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: flex-end;
}

.materia{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #765827;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
}

.nombreMateria{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
}

.estadoNota{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
}

.porcentaje{
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.addMateria,.guardarBtn{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: greenyellow;
    color: gray;
    margin-bottom: 20px;
    margin-right: 20px;
}

footer{
    background-color: #765827;
    color: white;
    padding: 10px 20px;   
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    list-style: none;
}

footer a{
    color: white;
    text-decoration: none;
}

.estadoMateria{
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    padding: 20px;
    background-color: aliceblue;
}
.porcentajeContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.infoPorcentaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    background-color: #765827;
    color: wheat;
    padding: 10px;
}

.eliminarBtn{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: flex-start;
}
.nombrePorcentaje{
    grid-row: 2/3;
    grid-column: 1/2;
}

.valorPorcentaje{
    grid-row: 2/3;
    grid-column: 2/3;
}

.showNotas{
    grid-row: 3/4;
    grid-column: 2/3;
}

.notasContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: span;
    padding: 10px 40px;
    background-color: #EAC696;
    gap: 10px;
}

.nota{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    background-color: antiquewhite;
    justify-items: center;
}

.nombreNota{
    grid-row: 2/3;
    grid-column: 1/2;
}

.notaObt{
    grid-row: 2/3;
    grid-column: 2/3;
}

.notaPos{
    grid-row: 3/4;
    grid-column: 2/3;
}

.funcionamiento{
    grid-row: 1/3;
    grid-column: 3/4;
    align-self: center;
    background-color: aliceblue;
    padding: 10px;
}