*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.35fr 4fr 0.35fr ;
}

header{
    background-color: gray;
    color: white;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: aqua;
    padding: 10px 20px;
    list-style: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 4fr;
}

h1{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    margin: 20px;
}

.materiasContainer{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 100px;
    gap: 20px;
    align-items: start;
}

.addMateria{
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: flex-end;
}

.materia{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
}

.nombreMateria{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
}

.estadoMateria{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
}

.porcentaje{
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.addMateria,.guardarBtn{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: greenyellow;
    color: gray;
    margin-bottom: 20px;
    margin-right: 20px;
}

footer{
    background-color: gray;
    color: white;
    padding: 10px 20px;   
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    list-style: none;
}

.estadoMateria{
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    padding: 20px;
}
.porcentajeContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.infoPorcentaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
}

.eliminarBtn{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: flex-start;
}
.nombrePorcentaje{
    grid-row: 2/3;
    grid-column: 1/2;
}

.valorPorcentaje{
    grid-row: 2/3;
    grid-column: 2/3;
}

.showNotas{
    grid-row: 3/4;
    grid-column: 2/3;
}